<nav class="sidenav">
  <ul>
    <li>
      <a href='#'>
        Чим ми відрізняемось
      </a>
    </li>
    <li>
      <a href='/timeline.html'>
        Наша історія
      </a>
    </li>
    <li>
      <a href='/about-us/Our-Vision.html'>
        Наше бачення
      </a>
    </li>
    <li>
      <a href='/about-us/Lead-Researchers.html'>
        Провідні фахівці
      </a>
    </li>
    <li>
      <a href='/about-us/Governance.html'>
        Структура
      </a>
    </li>
    <li>
      <a href='/about-us/Board-Members.html'>
        Керівництво
      </a>
    </li>
    <li>
      <a href='/about-us/Affiliations-and-Partnerships.html'>
        Партнери
      </a>
    </li>
    <li>
      <a href='/about-us/Job-Vacancies-and-Careers.html'>
        Кар'ера у нас
      </a>
    </li>
    <li>
      <a href='/about-us/Annual-Reports-and-Financial-Statements.html'>
        Державні закупівлі
      </a>
    </li>
    <li>
      <a href='/about-us/Newsletter-Archive.html'>
        Періодичні видання
      </a>
    </li>
    <li>
      <a href='/about-us/In-the-Media.html'>
        В пресі
      </a>
    </li>
    <li>
      <a href='/about-us/Videos.html'>
        Відео
      </a>
    </li>
    <li>
      <a href='#'>
        Відгуки пацієнтів
      </a>
    </li>
  </ul>
</nav>