<div class="clearfix"></div>

<div class="leftContentInside">
  <h1><%= page.title %></h1>

  <%= raw page.content %>
</div>


<div class="rightContentSidebar">
  <div class="sidebar-widget blue">

    <div>
      <div class="widgetname">
        <h3>
          Зміст</h3>
        <ul>
          <li>
            <a href="#chromatin">Lorem ipsum dolor</a></li>
          <li>
            <a href="#ALTgenes">Lorem dolor repellat</a></li>
          <li>
            <a href="#normal">Beatae consectetur et</a></li>
        </ul>

      </div>
      <div class="line"></div>
    </div>


    <div id="rhsBottom" class="widgetname">
      <img alt=""
           src="/images/treatment/entry1.png"
           style="width: 215px; height: 215px;" title="Хірургічне відділення"/>
      <address>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </address>

    </div>
  </div>
</div>
