<div class="title-section <%= color %>">
  <div class="container">
    <div class="row">

      <%= breadcrumbs pretext: '',
                      separator: '<i>&gt;</i>' %>

      <h2><%= title %></h2>

      <div class="page-icon">
        <%= raw icon %>
      </div>

    </div>
  </div>
</div>