<div class="banner">
  <div class="banner-wrapper">
    <div class="shadow">
    </div>
    <section class="hero" id="hero">
      <div class="loading">
        <img src="/images/bx_loader.gif" alt="">
      </div>
      <div class="slideshow" id="slideshow orbit">
        <div class="slide">
          <figure>
            <img src="/images/slides/cell.jpg" alt="">

            <div class="container">
              <div class="intro">
                <h2>
                  Європейскі стандарти
                </h2>

                <p>
                  Лікувально-діагностичну роботу забезпечують 230 лікарів та 575 середніх медичних
                  працівників вищої кваліфікації.
                </p>
                <a href='#' class="btn">
                  Докладніше
                  <i class="icon-arrow">
                  </i>
                </a>
              </div>

            </div>
          </figure>
        </div>

        <div class="slide">
          <figure>
            <img src="/images/slides/hostpital.jpg" alt="">

            <div class="container">
              <div class="intro">
                <h2>
                  Цілодобова госпіталізація
                </h2>

                <p>
                  Протягом І півріччя 2014 року госпіталізовано 6519 пацієнтів до стаціонару.
                </p>
                <a href='#' class="btn">
                  Докладніше
                  <i class="icon-arrow"></i>
                </a>
              </div>

            </div>
          </figure>
        </div>

        <div class="slide">
          <figure>
            <img src="/images/slides/building.jpg" alt="">

            <div class="container">
              <div class="intro">
                <h2>
                  Онкологічная діагностика
                </h2>

                <p>
                  Хіміотерапевтичне відділення є центром для надання та проведення
                  спеціалізованого хіміотерапевтичного лікування та консультативної допомоги
                  пацієнтам із злоякісними солідними пухлинами.
                </p>
                <a href='#' class="btn">
                  Докладніше
                  <i class="icon-arrow">
                  </i>
                </a>
              </div>

            </div>
          </figure>
        </div>
      </div>
    </section>
  </div>

  <nav class="banner_nav">
    <a data-slide-index="0" href="index.html#">
      Європейскі стандарти
    </a>

    <a data-slide-index="1" href="index.html#">
      Цілодобова госпіталізація
    </a>

    <a data-slide-index="2" href="index.html#">
      Онкологічная діагностика
    </a>
  </nav>

  <div class="hero-caption show-on-mobile"></div>
</div>

<section class="donate">
  <div class="container">
    <div class="row">
      <h2>Довірте своє здоров'я видатним фахівцям.</h2>
      <a href="registry.html" class="btn btn-red arrow">Записатись на прийом <i class="icon-arrow"></i></a>

      <p>У лікарні працюють 13 заслужених лікарів України, 2 доктори медичних наук, 29 кандидатів медичних
        наук та багато іньших фахівців світового рівня. "Феофанія" поєднує в собі унікальний сплав світовоії
        практики, найсучаснішого обладнання та фахівців, які раді почути вас та допомогти.</p>
    </div>
  </div>
</section>

<section class="about">
  <div class="dna-1"></div>
  <div class="dna-2"></div>
  <div class="dna-3"></div>
  <div class="dna-4"></div>
  <div class="container">
    <div class="row">
      <h2>Клінічна лікарня "Феофанія" розташована в мальовничому парку - екологічно найчистішій території
        Києва.</h2>

      <div class="boxWrap">

        <div class="box">
          <div class="about">
            <a href="#">
              <div class="pic">
                <div class="badge">
                  <i class="icon-group"></i>

                  <div>
                    <svg class="svg-group" viewBox="0 0 32 32">
                      <g filter="">
                        <use xlink:href="#icon-group1"/>
                        <use xlink:href="#icon-group2"/>
                        <use xlink:href="#icon-group3"/>
                      </g>
                    </svg>
                  </div>
                </div>
                <span><img src="/images/about-us.jpg" alt="Про Феофаіню"></span>
              </div>
            </a>

            <h3><a href="/about-us.html">Про нас</a></h3>

            <p>"Феофанія" - це один з найвидатніших медичних закладів України, на сьогодні в лікарні
              працює понад 1500 працівників.</p>
          </div>
        </div>

        <div class="box">
          <div class="research second">
            <a href="#">
              <div class="pic">
                <div class="badge">
                  <i class="icon-lab"></i>

                  <div>
                    <svg class="svg-lab" viewBox="0 0 50 70">
                      <g filter="">
                        <use xlink:href="#icon-research"></use>
                      </g>
                    </svg>
                  </div>
                </div>
                <span><img src="/images/divisions.jpg" alt="Відділення Феофанії"></span>
              </div>
            </a>

            <h3><a href="/departments.html">Відділення</a></h3>

            <p>29 лікувальних та 8 найсучаснішіх діагностичних центрів та відділень.</p>
          </div>
        </div>

        <div class="box">
          <div class="support">
            <a href="#">
              <div class="pic">
                <div class="badge">
                  <i class="icon-love"></i>

                  <div>
                    <svg class="svg-love" viewBox="0 0 32 32">
                      <g filter="">
                        <use xlink:href="#icon-love"></use>
                      </g>
                    </svg>
                  </div>
                </div>
                <span><img src="/images/vectors.jpg" alt="Напрямки Феофанії"></span>
              </div>
            </a>

            <h3><a href="directions.html">Напрямки</a></h3>

            <p>Клініка охоплює майже усі існучі медичні напрямки, від дерматології до хіміотерапії.</p>
          </div>
        </div>

        <div class="box">
          <div class="science second">
            <a href="#">
              <div class="pic">
                <div class="badge">
                  <i class="icon-edu"></i>

                  <div>
                    <svg class="svg-edu" viewBox="0 0 32 32">
                      <g filter="">
                        <use xlink:href="#icon-edu"></use>
                      </g>
                    </svg>
                  </div>
                </div>
                <span><img src="/images/patients.jpg" alt="Пацієнту Феофанії"></span>
              </div>
            </a>

            <h3><a href="#">Пацієнту</a></h3>

            <p>Запис на прийом, программи обстеження, енціклопедія захворювань, та інше.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <!-- news Section -->
    <div class="leftContent">
      <div class="heading">
        <a href="news.html" title="News">
          <h2><span><svg class="svg-news" viewBox="0 0 53 61">
            <g filter="">
              <use xlink:href="#icon-news"></use>
            </g>
          </svg></span> Новини та пропозиціі
          </h2>
        </a>

        <div class="news-nav">
          <a href="prev" class="prev"><i class="icon-left-arrow"></i></a> <a href="next" class="next"><i
        class="icon-arrow"></i></a>
        </div>
      </div>

      <div class="boxWrap">
        <ul id="news-slider">

          <li>
            <div class="box">
              <article>
                <div class="pic"><a href="#"><img
                src="/images/news/news4.jpg"
                alt="Специализированная конференция-практикум "></a></div>
                <div class="detail">
                  <h3><a href="#">Специализированная конференция-практикум </a></h3>

                  <p>18 сентября 2014 г. в конференц-зале отеля «Русь» в Киеве состоялась
                    специализированная конференция-практикум «Фармбюджет–2015», организованная
                    компаниями «МОРИОН», «Проксима Рисерч», «Тимсофт», «УкрКомЭкспо».</p>

                  <p><a href="#">Докладніше &rarr;</a></p>
                </div>
              </article>
            </div>
          </li>

          <li>
            <div class="box">
              <article>
                <div class="pic"><a href="#"><img
                src="/images/news/news5.jpg"
                alt="«Здоровье» запустила 5 новых производственных площадок"></a></div>
                <div class="detail">
                  <h3><a href="#">«Здоровье» запустила 5 новых производственных площадок</a></h3>

                  <p>ООО «Фармацевтическая компания «Здоровье» (Харьков) является одним из
                    крупнейших производителей лекарственных средств в Украи­не. В ее продуктовый
                    портфель входит более 350 наименований препаратов. </p>

                  <p><a href="#">Докладніше &rarr;</a></p>
                </div>
              </article>
            </div>
          </li>

          <li>
            <div class="box">
              <article>
                <div class="pic"><a href="#"><img
                src="/images/news/news2.jpg"
                alt="Природная поддержка печени"></a></div>
                <div class="detail">
                  <h3><a href="#">Природная поддержка печени</a></h3>

                  <p>Печень — главная «лаборатория» человеческого организма, принимающая участие в
                    многочисленных биохимических процессах.</p>

                  <p><a href="#">Докладніше &rarr;</a></p>
                </div>
              </article>
            </div>
          </li>

          <li>
            <div class="box">
              <article>
                <div class="pic"><a href="#"><img
                src="/images/news/news1.jpg"
                alt="Украинская фармация была, есть и будет"></a></div>
                <div class="detail">
                  <h3><a href="#">Украинская фармация была, есть и будет</a></h3>

                  <p>11–12 сентября 2014 г. Михаил Пасечник, глава Государственной службы Украины
                    по лекарственным средствам (далее — Гослекслужба) с рабочим визитом посетил
                    Полтаву и Харьков. </p>

                  <p><a href="#">Докладніше &rarr;</a></p>
                </div>
              </article>
            </div>
          </li>

          <li>
            <div class="box">
              <article>
                <div class="pic"><a href="#"><img
                src="/images/news/news3.jpg"
                alt="День фармацевтичного працівника"></a></div>
                <div class="detail">
                  <h3><a href="#">День фармацевтичного працівника</a></h3>

                  <p>Щороку осінь дарує професійне свято українській спільноті провізорів,
                    фармацевтів, дистриб’юторів, співробітників фармацевтичних підприємств,
                    науковців. </p>

                  <p><a href="#">Докладніше &rarr;</a></p>
                </div>
              </article>
            </div>
          </li>

        </ul>
      </div>
    </div>

    <div class="rightSidebar">
      <!--<div class="heading"><h2><i class="icon-event"></i>Events</h2></div>-->
      <div class="heading">
        <a href="events.html" title="Події">
          <h2><span><svg class="svg-date" viewBox="0 0 60 55">
            <g filter="">
              <use xlink:href="#icon-date"></use>
            </g>
          </svg></span> Події
          </h2>
        </a>
      </div>
      <ul class="list-events">

        <li>
          <div class="date">
            <a href="#"><span><strong>14</strong> Сентября</span></a>
          </div>
          <div class="title">
            <div><a href="#">Увеличение Sell in и Sell out</a></div>
          </div>
        </li>

        <li>
          <div class="date">
            <a href="#"><span><strong>01</strong> Октября</span></a>
          </div>
          <div class="title">
            <div><a href="#">«Приватна медицина в Україні – 2014»</a></div>
          </div>
        </li>

        <li>
          <div class="date">
            <a href="#"><span><strong>10</strong> Октября</span></a>
          </div>
          <div class="title">
            <div><a href="#">I–PharmaMarketingConference</a></div>
          </div>
        </li>

        <li>
          <div class="date">
            <a href="#"><span><strong>17</strong> Октября</span></a>
          </div>
          <div class="title">
            <div><a href="#">Курс «Превращение»</a></div>
          </div>
        </li>

        <li>
          <div class="date">
            <a href="#"><span><strong>24</strong> Ноября</span></a>
          </div>
          <div class="title">
            <div><a href="#">«Инновации в медицине»</a></div>
          </div>
        </li>

        <li>
          <div class="date">
            <a href="#"><span><strong>19</strong> Ноября</span></a>
          </div>
          <div class="title">
            <div><a href="#">Государственные закупки</a></div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

<!--
<section class="our-partners">
    <div class="container">
        <div class="row">
            <h3>Партнери закладу</h3>
            <ul class="partners-list">

                          <li><a href='' target='_blank' title=''><img src='/assets/images/Sponsors/acrf.jpg' alt=''></a></li>

                          <li><a href='' target='_blank' title=''><img src='/assets/images/Sponsors/aus-gov.jpg' alt=''></a></li>

                          <li><a href='' target='_blank' title=''><img src='/assets/images/Sponsors/cancer-council.jpg' alt=''></a></li>

                          <li><a href='' target='_blank' title=''><img src='/assets/images/Sponsors/nsw.jpg' alt=''></a></li>

                          <li><a href='' target='_blank' title=''><img src='/assets/images/Sponsors/university-of-sydney.jpg' alt='University of Sydney'></a></li>

            </ul>
        </div>
    </div>
</section>
-->