<div id="content-slider" class="flexslider">
  <div class="slidecount"><span class="current-slide">1</span> з <span
  class="total-slides"> 1</span></div>
  <ul class="slides">

    <li>
      <div class="label-bg"></div>
      <div class="label">Клінічна Лікарня "Феофанія"</div>
      <img src='/images/about/contentslide1.jpg'
           alt='Клінічна Лікарня "Феофанія"'/>
    </li>

  </ul>
  <div class="margin"></div>
</div>

<div class="clearfix"></div>
<h1>Про "Феофанію"</h1>

<div class="intro-content">
  <h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur deserunt enim eum,
    fugit id ipsum maiores minima nihil nobis non porro praesentium quisquam recusandae rem unde
    velit, voluptate voluptatem!
  </h2>

  <div class="more-intro">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, nulla, repudiandae.
      Deleniti dolorem eaque earum eos error fuga ipsa libero magni maxime necessitatibus nihil
      obcaecati, pariatur porro, repellendus veritatis voluptatum.</p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aperiam consectetur culpa
      cumque dignissimos dolor eos impedit ipsum, itaque laborum libero nam odit provident quae
      repellat sequi temporibus voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Accusamus, dignissimos doloremque doloribus, eos est excepturi fuga fugiat hic magni
      maiores nemo nisi officiis quod repellendus sequi similique voluptate voluptates voluptatum?<br/>
      <br/>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquid eius eveniet
      facilis omnis provident. Ab alias aliquam aliquid aperiam asperiores debitis itaque quaerat
      quia, quis quisquam, unde vel?
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur dolore dolorum
      enim, esse harum incidunt modi necessitatibus nesciunt obcaecati odio officia quasi qui quod
      reiciendis tempora voluptas voluptate voluptatibus.<br/>
    </p>

  </div>
  <div id="ctl00_plcMain_showMore" class="show-more">
    <a href="javascript:void(0)" class="btn-more">Детальніше</a>
  </div>
</div>


<div class="entry">

  <div class="boxWrap">

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/'>
          <span></span>
          <img src="/images/about/entry1.jpg"
               alt="Чим ми відрізняемось">
        </a>
      </div>
      <h3>

        <a href=''>Чим ми відрізняемось</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/timeline.html'>
          <span></span>
          <img src="/images/about/entry2.png"
               alt="Наша історія">
        </a>
      </div>
      <h3>

        <a href='/timeline.html'>Наша історія</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Our-Vision.html'>
          <span></span>
          <img src="/images/about/entry3.png"
               alt="Наше бачення">
        </a>
      </div>
      <h3>

        <a href='/about-us/Our-Vision.html'>Наше бачення</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Lead-Researchers.html'>
          <span></span>
          <img src="/images/about/entry4.png"
               alt="Провідні фахівці">
        </a>
      </div>
      <h3>

        <a href='/about-us/Lead-Researchers.html'>Провідні фахівці</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Структура.html'>
          <span></span>
          <img src="/images/about/entry5.jpg"
               alt="Структура">
        </a>
      </div>
      <h3>

        <a href='/about-us/Структура.html'>Структура</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Board-Members.html'>
          <span></span>
          <img src="/images/about/entry6.png"
               alt="Керівництво">
        </a>
      </div>
      <h3>

        <a href='/about-us/Board-Members.html'>Керівництво</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Affiliations-and-Partnerships.html'>
          <span></span>
          <img src="/images/about/entry7.png"
               alt="Партнери">
        </a>
      </div>
      <h3>

        <a href='/about-us/Affiliations-and-Partnerships.html'>Партнери</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Job-Vacancies-and-Careers.html'>
          <span></span>
          <img src="/images/about/entry8.png"
               alt="Кар'ера у нас">
        </a>
      </div>
      <h3>

        <a href='/about-us/Job-Vacancies-and-Careers.html'>Кар'ера у нас</a>
      </h3>

      <p>Феофанія завжди шукає талановитих фахівців</p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Annual-Reports-and-Financial-Statements.html'>
          <span></span>
          <img src="/images/about/entry9.png"
               alt="Державні закупівлі">
        </a>
      </div>
      <h3>

        <a href='/about-us/Our-Redevelopment.html'>Державні закупівлі</a>
      </h3>

      <p></p>
    </div>


    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Newsletter-Archive.html'>
          <span></span>
          <img src="/images/about/entry10.png"
               alt="Періодичні видання">
        </a>
      </div>
      <h3>

        <a href='/about-us/Newsletter-Archive.html'>Періодичні видання</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/In-the-Media.html'>
          <span></span>
          <img src="/images/about/entry11.png"
               alt="В пресі">
        </a>
      </div>
      <h3>

        <a href='/about-us/In-the-Media.html'>В пресі</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Videos.html'>
          <span></span>
          <img src="/images/about/entry12.png"
               alt="Відео">
        </a>
      </div>
      <h3>

        <a href='/about-us/Videos.html'>Відео</a>
      </h3>

      <p></p>
    </div>

    <div class="box">
      <div class="pic" style="">
        <a href='/about-us/Testimonials.html'>
          <span></span>
          <img src="/images/about/entry13.png"
               alt="Відгуки пацієнтів">
        </a>
      </div>
      <h3>

        <a href='/about-us/Testimonials.html'>Відгуки пацієнтів</a>
      </h3>

      <p></p>
    </div>

  </div>
</div>